.form-container{
    max-width: 100%;
    padding-left: 10%;
    padding-right: 10%;
    text-align: center;
}

.form{
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}
label{
    font-size: 25px;
    font-weight: 500;
}
input{
    padding: 15px;
    border-radius: 20px;
    width: 50%;
    margin: 10px auto;
    background-color: #EFF3EA;
}
button{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin: 20px auto 25px;
    padding: 15px;
    border-radius: 100px;
    width: 25%;
    font-size: 20px;
    cursor: pointer;
    background-color: lightpink ;
    font-weight: 600;
}
.icon{
    margin-left: 5px;
}
button:hover{
    background-color: lightcoral;
    color: white;
}

.error{
    color: black;
    font-weight: 500;
    font-size: 20px;
    display: inline-flex;
    align-items: center;
}

@media(max-width:1000px){
    .form-container{
        padding-left: 5%;
        padding-right: 5%;
    }
    label{
        font-size: 20px;
    }
    input{
        padding: 10px;
        margin: 7px auto;
        width: 58%;
    }
    button{
        padding: 12px;
        width: 20%;
        font-size: 15px;
        margin: 15px auto 20px;
    }
}
@media(max-width:700px){
    button{
        display: flex;
        flex-direction: column;
        font-size: 14px;
        border-radius: 20px;
        padding: 8px;
    }
    .icon{
        size: 10px;
    }
}
@media(max-width:450px){
    .form-container{
        padding-left: 2.5%;
        padding-right: 2.5%;
    }
    label{
        font-size: 16px;
    }
    input{
        padding: 7px;
        margin: 6px auto;
        width: 80%;
    }
    button{
        display: inline-flex;
        flex-direction: row;
        border-radius: 20px;
        padding: 10px;
    }
    .icon{
        size: 13px;
    }
}
